TTL 86400
@ IN SOA anrocky1.local. root.anrocky1. (
                          20240922;
                          5H;
                          1W;
                          5H
)

@ IN NS anrocky1.local.
anrocky1  IN A 10.0.3.156
